@media screen and (max-width: 1280px)
{
.suser_desc{width: 190px;}
}
@media screen and (max-width: 1280px)
{
.suser_outer li{width: 32.7%;}
}
@media screen and (max-width: 1250px)
{
.formsandcontents li{width: 170px}
}



@media screen and (max-width: 1240px) {
.child_descriptions span {
	display: inline-block;
	padding-left: 0;
	width: 96px;
}
.s_ico {
	background: url("../images/search_btnico.png") no-repeat 8px 17px #00a6f1;
}
.btn-blue.s_ico:hover, .btn-blue.s_ico:focus {
	background: url(../images/search_btnico.png) no-repeat 8px 17px #00a6f1;
}
.pictures_block ul li {
	margin: 0 10px 0 0;
}
.personal_details_block .col-md-3 img {
	width: 100%;
}
.flight_block {
	width: 49.6%;
}
}

@media screen and (max-width: 1121px) {
.main_displaypic_block .whitbox_block {
	width: 48.9%;
}
.width_150 .arrows {
	top: 30px;
}
}

@media screen and (min-width: 1024px) {
.child_descriptions span {
	display: inline-block;
	padding-left: 0;
	width: 96px;
}

}

@media screen and (max-width: 1024px) {
    .suser_image{width: 100%;border: none;}
    .suser_img{margin: 0px auto;}
    .s_place{ overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
    .s_msg{ overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
    .s_contact{ overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
.childrens_list ul li {
	width: 32%;}
         .search_user{padding: 100px 15px 100px 15px;width: 100%;}
    .searchtxt {width: 100%;
}
.pictures_block ul li {
	width: 30.3%;
}
.main_displaypic_block .whitbox_block {
	width: 49.6%;
}
.col-md-5.form-group.clearfix {
	width: 40%;
}
.col-md-1.form-group.clearfix {
	width: 10%;
}
.pictures_block ul li img {
	height: auto;
	width: 100%;
}
.invi_name {
	width: 23%;
}
.seatdetails_small {
	width: 49%;
}
.updatebtn{
width:22%;
}

.createadminbtn {
	width: 30%;
}
.clearbtn {
	width: 10%;
}
}

@media screen and (max-width: 991px) {
.form_section .form-group {
	margin: 0 0 10px 0;
}
.childrens_list ul li {
	width: 48%;
}
.pad_l_0med {
	padding-left: 0;
}
.pad_r_0med {
	padding-right: 0;
}
.create_ico {
	margin: 10px 0 0 0;
}
.main_displaypic_block .whitbox_block {
	width: 100%;
	margin: 0;
}
.pictures_block ul {
	height: auto;
	padding-bottom: 10px;
}
.status_message_box {
	height: auto;
}
.status_msg_outer {
	margin-bottom: 10px !important;
	padding-bottom: 10px;
}
.status_active_edit {
	width: 100%;
	padding: 0;
}
.status_active_edit label {
	padding: 0 0 5px 0;
	margin: 0;
}
.status_active_edit {
	margin: 0 0 10px 0;
}
.edit_statuschange_block {
	padding: 10px 10px 5px 10px;
}
.edit_block {
	padding: 0 20px 0 20px;
}
.marg_med_b10 {
	margin-bottom: 10px;
}
.top_linked_area li {
	width: 100%;
	border-bottom: 1px solid #ececec;
	border-right: none;
}
.status_msg_paxouter {
	height: auto;
	padding-bottom: 20px;
	margin-bottom: 20px !important;
}
.personal_details_block .col-md-3 {
	margin-bottom: 10px;
}
.personal_table {
	margin-bottom: 20px;
}
.flight_block {
	width: 100%;
	margin: 0 0 7px 0;
}
.col-md-1.form-group.clearfix, .invi_name, .col-md-5.form-group.clearfix {
	width: 100%;
}
.col-md-4.col-sm-4.col-sx-4.small_whitebox.clearfix {
	width: 100%;
}
.col-md-8.col-sm-8.col-sx-8.small_whitebox, .updatebtn, .createadminbtn, .clearbtn {
	width: 100%;
}
}

/********************/

@media screen and (max-width: 768px) {
.sub_heading a.btn.btn-green {
	margin-top: 10px;
}
}

@media screen and (max-width: 767px) {
.childrens_list ul li {
	width: 100%;
	margin: 0;
}
.childrens_list ul {
	margin: 0 19px 0 19px;
}
 .formsandcontents li{width:100%;}
    .outer_login{width: 100%;padding: 25px 15px;}
    .ops_logo img{max-width: 100%;text-align: center;}
    .ops_logo{padding-top: 50px;}
    .login_btn{padding: 15px 15px;}
}
