﻿@{ 
    Layout = null;
}

@using ContactManagement.Entities
@model  IEnumerable<EntContactInfo>
<style>
        .k-grid .k-alt {
            background-color: white; /* specify the alternate background-color */
        }

        .k-grid tr td {
            border-style: none;
        }

        .k-grid-header {
            background-color: white;
        }

            .k-grid-header th.k-header {
                background-color: white;
                overflow: hidden;
                border-style: solid;
                border-width: 1px 0 1px 0px;
                border-color: #EFEFEF;
                /* padding: .5em .6em .4em .6em; */
                color: #212121;
                font-weight: 900;
                /* white-space: nowrap; */
                text-overflow: ellipsis;
                text-align: left;
                height: 40px;
                vertical-align: middle;
            }


                

                
        /*#grid .k-grid-header-wrap > table, /* header table */
      /*  #grid .k-grid-content > table,  data table, no virtual scrolling */
      /*  #grid .k-virtual-scrollable-wrap > table  data table, with virtual scrolling  {
            max-height: 800px;
            min-height: 800px;
        }*/


        /*.k-widget {

        border-style: none;
        border-width: 1px;
        -webkit-appearance: none;
    }*/
        .customer-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }

        img.resize {
            width: 50px;
            height: 50px;
        }

        .k-widget.k-tooltip {
            border: lightgray solid !important;
            background-color: white;
            color: black;
            width: 250px !important;
            height: 250px !important;
            text-align: left;
            padding: 35px 0 0 15px !important;
        }

        .access li {
            position: relative;
            padding-left: 11px;
            margin: 0 0 20px 0;
        }
        /*.k-animation-container
        {
             border-color: #000;
        border:solid;
        }*/
</style>

<script id="javascriptTemplate" type="text/x-kendo-template">
    <ul class="access" style="list-style: none;">
        # for (var i = 0; i < data.length; i++) { #
        <li style="cursor:pointer;" onclick="RelatedContact('#: data[i].ID #', '#: data[i].Name #')" >#=data[i].Name #</li>
        # } #
    </ul>
    <div style="clear:both;"></div>
</script>

<script>
  

    $(document).ready(function () {
        $("#grid").kendoTooltip({
            filter: "td:nth-child(10)", //this filter selects the first column cells relpool
            //filter: ".relpool",
            position: "right",
            showOn: "click",
            content: function (e) {
               // debugger;
                var dataItem = $("#grid").data("kendoGrid").dataItem(e.target.closest("tr"));
                //var content = dataItem.ID;
                //alert(dataItem.ID);
                var P_url = "@Html.Raw(Url.Action("RelatedPool", "Login", new { ContactId = "-parameter" }))";
                P_url = P_url.replace("-parameter", dataItem.ID);
                var targetUID = $(e.target).closest("tr").data("uid");
                var template = kendo.template($("#javascriptTemplate").html());
                var Data1 = {};
                $.ajax({
                    url: P_url,//Url.Action("RelatedPool", "Login", new { ContactId = content })",
                    //data: { "json": JSON.stringify({ ID: 22, Text: "test", City: "some city" }) }, //simulate ajax request, see Dojo Help for details
                    success: function (data) {
                        Data1 = JSON.stringify(data);
                        //alert(data[1].Name);
                        //var template = "<ul>\# for (var i = 0; i < data.length; i++) { #<li>#= data[i].Name #</li>\# } #</ul>"

                        //var grid = e.target.closest(".k-grid").getKendoGrid();
                        //var dataItem = grid.dataItem(e.target.closest("tr"));
                        //var template = kendo.template($("#TempateUsingRemoteData").html());
                       // alert(template);
                        //template(data);
                       // return "<div>Hi, this is a tool tip for id " + data[1].Name + "! <br/> <button class='open'>Open window</button></div>";
                        // $("#" + targetUID).html(template(response))
                        // return "<div>Hi, this is a tool tip for id " + "! <br/> <button class='open'>Open window</button></div>";
                        $("#" + targetUID).html(template(data))
                    }
                });
                //alert(Data1);
                // return "<div>Hi, this is a tool tip for id " + Data1[1].Name + "! <br/> <button class='open'>Open window</button></div>";
                return "<div id='" + targetUID + "'> </div>";
            }
        }).data("kendoTooltip");


    });
</script>

@(Html.Kendo().Grid(Model)
         .Name("grid")
         .Columns(columns =>
         {
         columns.Bound(c => c.ID).Hidden();
         columns.Template(e => { }).ClientTemplate("<img class = 'resize' src='../Content/Images/admin_userbg.png'/>").Width(60);
         columns.Bound(c => c.Street);
         columns.Bound(c => c.City);
         columns.Bound(c => c.HouseNumber);
         columns.Bound(c => c.ZipCode);
         columns.Bound(c => c.RefName).HtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.Referenz_zu).HtmlAttributes(new { style = "font-weight:bold;margin-right:10px;" });
         columns.Template(e => { }).ClientTemplate("<img style='height:20px;width:6px;' class = 'relpool' src='../Content/Images/more.png'/>").Width(40).HtmlAttributes(new { style = "padding-right:20px;" });
             // columns.Template(e => Html.Label(e.Name + " (" + e.ID + ")"))
             //  .Title("Name")
             //  .Hidden(true)
             // .ClientTemplate("Fournd in Area: #= value #");
             columns.Bound(p => p.GroupHeader).Hidden(true).Filterable(false).Title("")
             .GroupHeaderTemplate(@<text>Name: @item.Key</text>)
                 .ClientGroupHeaderTemplate("<span> Name : #= value # </span>");
                 //.Title("Area")
                 //.Hidden(true)
                 //.GroupHeaderTemplate(@<text>Name: @item.Key</text>);
                 //.ClientGroupHeaderTemplate("Fournd in Area: #= value #");
             })
                     //         .ToolBar(tools => tools.Pdf())
                     //.Pdf(pdf => pdf
                     //    .AllPages()
                     //    .FileName("Kendo UI Grid Export.pdf")
                     //    .ProxyURL(Url.Action("Pdf_Export_Save", "Login"))
                     //)
                     //.DataSource(dataSource => dataSource
                     //    .Ajax()
                     //    .Read(read => read.Action("Pdf_Export_Read", "Login"))
                     //    .PageSize(5)
                     //)
                     .Pageable(pageable => pageable
                     .Refresh(true)
                     .PageSizes(true)
                     .ButtonCount(5))
                     .HtmlAttributes(new { style = "height:820px" })
                      .Sortable()
                      .Groupable(c => c.Enabled(false))

             .Scrollable()
             .Filterable()
            .Pageable()
               .DataSource(source => source
               .Ajax()
               .ServerOperation(false)
               .Group(c =>
               {
                   c.Add(p => p.GroupHeader);
               })
               )

)
)
