﻿
<div class="loginpageouter clearfix">
    <div class="selectprofilebox1">
        <div class="login_box clearfix">
            <div class="login_header">
                <h2><span class="thailashome"><img src="~/Content/Images/contacthome_bg.png"></span>CONTACT MANAGEMENT</h2>
            </div>
            <div class="loginacnt">
                <h2><span class="loginacntbg"><img src="~/Content/Images/loginacntbg.png"></span>Login</h2>
            </div>
@using (Html.BeginForm("Home", "Login", FormMethod.Post,
                                                  new { enctype = "multipart/form-data" }))
{
            <div class="logintxtbx"><span class="logintxtbxicon"><img src="~/Content/Images/loginuser_bg.png"></span><input type="text" class="logintxbx" placeholder="User name"></div>
            <div class="logintxtbx"><span class="logintxtbxicon"><img src="~/Content/Images/loginpwd_bg.png"></span><input type="text" class="logintxbx" placeholder="Password"></div>
            <input type="submit" class="loginbtn_blue selectuserbtn" value="LOGIN">
}
            <div class="forget_pwd">
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
    @*<div class="selectprofilebox2 clearfix">
        <div class="login_box clearfix">
            <div class="login_header">
                <h2><span class="thailashome"><img src="images/thailashome_bg.png"></span>THAILAS BANK</h2>
            </div>
            <div class="loginacnt">
                <h2><span class="loginsearchbg"><img src="images/selectprofile_icon.png"></span>Select Profile</h2>
            </div>
            <div class="logintxtbx">
                <span class="logintxtbxicon"><img src="images/officericon.png"></span><div class="radiobtnouter">
                    <input id="radio1" type="radio" name="radio" value="1" checked="checked"><label for="radio1">Risk Officer at Sales Operations<span><span></span></span></label>
                </div>
            </div>

            <div class="logintxtbx">
                <span class="logintxtbxicon"><img src="images/managersicon.png"></span><div class="radiobtnouter">
                    <input id="radio2" type="radio" name="radio" value="2"><label for="radio2">Business Manager at Credit Booking<span><span></span></span></label>
                </div>
            </div>
            <input type="button" class="loginbtn_blue" value="OK">

        </div>
    </div>*@
    <div class="login_footer">
        @*<div class="login_footerlogo">
            <img src="~/Content/Images/loginlogo.png">
        </div>*@
        <span class="logincopright">Copyright &copy; 2009–2016 H+S.</span>
    </div>
</div>
        
