body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background-color: #edf0f5;
}
html, body {
	height: 100%;
}
*:focus {
	outline: 0 !important;
}
*::-moz-focus-inner {
border: none !important;
}
a:hover, a:focus {
	text-decoration: none;
}
.pad_l_0 {
	padding-left: 0;
}
.pad_r_0 {
	padding-right: 0;
}
.pad_b_18 {
	padding-bottom: 18px !important;
}
.pad_l_5 {
	padding-left: 5px;
}
h1, h3, p, ul {
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	min-width: 1240px;
	padding: 0;
	position: relative;
}

a:hover {
	transition: all 200ms ease-in-out;
}
.page-container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	margin: 0px auto;
}


.logo_inner a {
	width: auto;
	height: 112px;
	display: inline-block;
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	margin: 18px 0 0 0;
}
.sidebar-menu {
	float: left;
	width: 350px;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #FFFFFF;
	color: #aaabae;
	z-index: 999;
    box-shadow: 5px 0 5px -5px gray;
   
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	position: relative;
	text-transform: uppercase;
	color: #2d3542;
}
#cssmenu a {
	line-height: 1.3;
	padding: 20px 15px 5px 15px;
}
#cssmenu > ul > li > a:hover {
	color: #23b4ff;
}
#cssmenu li {
	line-height: 20px;
	position: relative;
}
#cssmenu li span {
	display: inline-block;
	position: absolute;
	font-weight: 600;
}
#cssmenu > ul > li {
	cursor: pointer;
}
#cssmenu > ul > li > a {
	font-size: 13px;
	display: block;
	color: #a9b4c6;
	background: 2d3542;
	
}
#cssmenu > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu > ul > li.active {
	border-bottom: none;
}
#cssmenu > ul > li.active > a {
	background: #1f2128;
	color: #23b4ff;
}
#cssmenu > ul > li.active > a:first-child {
	border-top: 1px solid #1b1d23;
}
#cssmenu > ul > li.has-sub > a:after {
	content: "";
	position: absolute;
	top: 24px;
	right: 10px;
	border: 5px solid transparent;
	border-left: 5px solid #818592;
}
#cssmenu > ul > li.has-sub.active > a:after {
	right: 14px;
	top: 26px;
	border: 5px solid transparent;
	border-top: 5px solid #818592;
}
/* Sub menu */
#cssmenu ul ul {
	padding: 0;
	display: none;
}
#cssmenu ul ul a {
	background: #1f2128;
	display: block;
	color: #a9b4c6;
	font-size: 13px;
	padding: 5px 15px 0 30px;
}
.notification_box {
	min-width: 46px;
	height: 21px;
	color: #FFF;
	font-size: 12.5px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
	right: 15px;
	line-height: 20px;
	padding: 0 5px 0 5px;
}
.blue_n {
	background-color: #23b4ff;
}
.green_n {
	background-color: #6cc447;
}
#cssmenu ul ul li:last-child {
	border: none;
}
#cssmenu > ul > li.active .new-user-ico, #cssmenu > ul > li:hover .new-user-ico {
	background: url(../images/menu_list_icons.png) no-repeat -44px 0;
}
#cssmenu > ul > li i {
	width: 25px;
	height: 25px;
	display: inline-block;
}

.all-user-ico {
	background: url(../images/menu_list_icons.png) no-repeat 0 -41px;
}
#cssmenu > ul > li.active .all-user-ico, #cssmenu > ul > li:hover .all-user-ico {
	background: url(../images/menu_list_icons.png) no-repeat -44px -41px;
}

#cssmenu > ul > li.active .flight-ico, #cssmenu > ul > li:hover .flight-ico {
	background: url(../images/menu_list_icons.png) no-repeat -46px -82px;
}

#cssmenu > ul > li.active .aircraft-ico, #cssmenu > ul > li:hover .aircraft-ico {
	background: url(../images/menu_list_icons.png) no-repeat -45px -138px;
}

#cssmenu > ul > li.active .airport-ico, #cssmenu > ul > li:hover .airport-ico {
	background: url(../images/menu_list_icons.png) no-repeat -48px -185px;
}
.transactions-ico {
	background: url(../images/menu_list_icons.png) no-repeat 3px -239px;
}
#cssmenu > ul > li.active .transactions-ico, #cssmenu > ul > li:hover .transactions-ico {
	background: url(../images/menu_list_icons.png) no-repeat -46px -239px;
}

.admin-icon{background: url(../images/administration.png) no-repeat;}
.control{background: url(../images/control.png) no-repeat;}
.form{background: url(../images/form.png) no-repeat;}
.process{background: url(../images/process.png) no-repeat;}
.dashboard{background: url(../images/home.png) no-repeat;}
.settings-ico {background: url(../images/menu_list_icons.png) no-repeat;}
.testing {background: url(../images/testing.png) no-repeat;}
.remediation {background: url(../images/remediation.png) no-repeat;}
.reporting {background: url(../images/reporting.png) no-repeat;}
.tick{background: url(../images/tick_icon.png) no-repeat;}
.admin {background: url(../images/administration.png) no-repeat;}
.dashboard-ico{background: url(../images/home.png) no-repeat;}


 .sidebar-menu #cssmenu > ul > li.active .admin, #cssmenu > ul > li:hover .admin {background: url(../images/administrationwhite.png) no-repeat;}
 .sidebar-menu #cssmenu > ul > li.active .control, #cssmenu > ul > li:hover .control {background: url(../images/controlwhite.png) no-repeat;}
 .sidebar-menu #cssmenu > ul > li.active .form, #cssmenu > ul > li:hover .form {background: url(../images/formwhite.png) no-repeat;}
 .sidebar-menu #cssmenu > ul > li.active .process, #cssmenu > ul > li:hover .process {background: url(../images/processwhite.png) no-repeat;}
  .sidebar-menu #cssmenu > ul > li.active .dashboard, #cssmenu > ul > li:hover .dashboard {background: url(../images/homewhite.png) no-repeat;}
  .sidebar-menu #cssmenu > ul > li.active .testing, #cssmenu > ul > li:hover .testing {background: url(../images/testingwhite.png) no-repeat;}
 .sidebar-menu #cssmenu > ul > li.active .remediation, #cssmenu > ul > li:hover .remediation {background: url(../images/remediationwhite.png) no-repeat;}
 .sidebar-menu #cssmenu > ul > li.active .reporting, #cssmenu > ul > li:hover .reporting {background: url(../images/reportingwhite.png) no-repeat;}




.sidebar-collapsed .admin {background: url(../images/administration.png) no-repeat;background-position: center center;}
.sidebar-collapsed .control {background: url(../images/control.png) no-repeat;background-position: center center;}
.sidebar-collapsed .form {background: url(../images/form.png) no-repeat;background-position: center center;}
.sidebar-collapsed .process {background: url(../images/process.png) no-repeat;background-position: center center;}
.sidebar-collapsed .dashboard {background: url(../images/home.png) no-repeat;background-position: center center;}
.sidebar-collapsed .testing {background: url(../images/testing.png) no-repeat;background-position: center center;}
.sidebar-collapsed .remediation {background: url(../images/remediation.png) no-repeat;background-position: center center;}
.sidebar-collapsed .reporting {background: url(../images/reporting.png) no-repeat;background-position: center center;}

.sidebar-collapsed  #cssmenu > ul > li:hover .admin {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .control {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .form {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .process {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .dashboard {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .testing {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .remediation {background-position: center center !important;}
.sidebar-collapsed  #cssmenu > ul > li:hover .reporting {background-position: center center !important;}

#cssmenu > ul > li.active .settings-ico, #cssmenu > ul > li:hover .settings-ico {background: url(../images/menu_list_icons.png) no-repeat -44px -296px;}
.logo_inner {
	width: inherit;
	padding:0px 0px 0px 0px;
	box-sizing: border-box;
	background-color: #B51C1C;
	height:73px;
	text-align: center;
    position:fixed;
}
.sidebar-icon {
	position: relative;
	margin-top: 20px;
	background: url(../images/menu_icon.png) no-repeat;
	width: 40px;
	height: 35px;
	display: block;
	margin-left: 0;
}
.logo_inner .fa-logoico {
	background: url(../images/logo_inner.jpg) no-repeat left top;
	width: 38px;
	height: 37px;
	margin-right: 11px;
	display: block;
	float: left;
	margin-left: -7px;
}
/*.sidebar-collapsed .logo_inner a {
	background: none;
	width: 40px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	 -o-transition:all 100ms linear;
	transition: all 100ms linear;
}*/
.logo_inner h1 span {
	display: block;
	margin: 2px 0 0 0;
}
header {
	padding: 0 10px 0 238px;
	border-bottom: 1px solid #eeeeee;
	height: 74px;
	position: fixed;
	width: 100%;
	top: 0;
	background-image: url(../images/headerbg.png);background-repeat: no-repeat;background-size: cover;
	z-index: 99;
}
.logout_btn {
	-webkit-transition: all 50ms linear;
	-moz-transition: all 50ms linear;
	-o-transition: all 50ms linear;
	transition: all 50ms linear;/*margin:0 10px 0 0;*/
}
.logout_btn a,label {
	padding:0px 0px;
	display: block;
	float: right;
	font-size: 14px;
	font-weight: 400;
	margin: 31px 0 0 0;
    cursor:pointer;
}
.logout_btn a span {
	display: inline-block;
	margin-right: 8px;
	float: left;
}

.center_content {
	margin: 75px 0 0 0;
	padding: 0 0 0 0px;
	position: absolute;
	right: 0;
    height:800px;
	/*width: 100%;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	transition: all 100ms linear;
	transition-delay: 10ms;*/
}

.main_Title{
    background-color:#B51C1C !important;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: -42px;
    margin-left: 16px;
    z-index: 1000;
    position: fixed;
    font-family: Arial;
}
.main_heading {
	height: 70px;border-bottom:#c7ccd5;
}

.greybg {
	background-color: #fff;
}
.main_heading h1 {
	color: #66748b;
	font-size: 19.5px;
	font-weight: 600;
	float: left;
	margin: 15px 0 0 0px;
	padding: 0 0 10px 22px;
	text-transform: uppercase;
}
.main-user-ico {
	background: url(../images/alluser_ico.png) no-repeat 0 2px;
}
.main_container {
	/*padding: 18px;*/
	overflow:hidden;
}
.whitbox_block {
	background-color: #FFF;
	padding: 25px 0 0 0;
	margin: 0 0 15px 0;
}
.sub_heading {
	margin: 0 0 16px 18px;
}
.sub_heading h3 {
	color: #5b677a;
	font-size: 20.5px;
	font-weight: 400;
	padding: 0 0 3px 28px;
	margin: 0;
	float: left;
}
.search_ico {
	background: url(../images/search_ico.png) no-repeat 1px 4px;
}
.form_section .form-group {
	margin: 0;
	padding-left: 0;
	padding-right: 4px;
}
.form_section .form-control {
	border: 1px solid #e8e8e8;
	box-shadow: none;
	height: 48px;
	font-size: 13.5px;
	color: #7d7d7d;
}
.sub_heading .btn-blue-border {
	float: right;
	height: 41px;
	font-weight: 600;
	width: auto;
	margin-left: 5px;
}
.form_section {
	padding: 0 19px 0 19px;
}
.main-flight-ico {
	background: url(../images/main_flights_icon.png) no-repeat 0 0;
}
.arrows {
	width: 12px;
	position: absolute;
	right: 10px;
	top: 5px;
}
.arrows a {
	display: block;
	height: 8px;
}
.inner_table tbody tr:nth-child(odd) td {
	background-color: #f6f6f6;
}
.inner_table tbody tr:nth-child(even) td {
	background-color: #FFFFFF;
}
.inner_table .table {
	margin: 0;
}
.inner_table .table thead {
	background-color: #FFFFFF;
	border-top: 1px solid #e8e8e8;
}
.inner_table .table > thead > tr > th {
	color: #767676;
	font-weight: 700;
	font-size: 15px;
	border: 1px solid #e8e8e8;
	padding: 14px 8px 15px 12px;
	vertical-align: top;
	position: relative;
}
.inner_table .table >tbody > tr > td {
	font-size: 14px;
	color: #767676;
	padding: 16px 8px 14px 12px;
	border: 1px solid #e8e8e8;
	font-weight: 400;
}
.inner_table .table >tbody > tr > td a {
	color: #4e9ee9;
	text-decoration: underline;
}
.pending {
	color: #ff6d3d;
	font-weight: 600;
}
.incomplete {
	color: #ffc600;
	font-weight: 600;
}
.out_of_network {
	color: #4b9bff;
	font-weight: 600;
}
.copyright {
	font-size: 12.5px;
	color: #515461;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
 input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:#7d7d7d!important;
font-size:13.5px;
font-weight:400;
}
input::-ms-input-placeholder { /* Mozilla Firefox 19+ */
 color:#7d7d7d!important;
font-size:13.5px;
font-weight:400;
}
.rel {
	position: relative;
}
.stylish-select .SSContainerDivWrapper {
	left: -9999px;
}
.stylish-select .SSContainerDivWrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 22px;
	left: 0;
	z-index: 999;
}
.stylish-select ul.newList {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
	height: 100px;
}
.stylish-select ul.newList * {
	margin: 0;
	padding: 0;
}
.stylish-select ul.newList a {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 3px 8px;
}
.stylish-select .newListSelected {
	width: 100%;
	color: #000;
	height: 53px;
	padding: 0;
	float: left;
	background: url(../images/drop_down.png) no-repeat;
        background-position: right 21px center;
	border: 1px solid #d4e9ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
        background-color: #fff;
}
.stylish-select ul.newList li a:focus {
	-moz-outline-style: none;
}
.stylish-select .selectedTxt {
	
	overflow: hidden;
	padding: 11px 17px;
	width: 100%;
	color: #979797;
	font-size: 15px;
        
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 400;
	line-height: 28px;
        border-radius: 5px;
}
.stylish-select .hiLite {
	background: #61717D!important;
	color: #fff!important;
}
.stylish-select .newListHover {
	background: #ccc!important;
	color: #000!important;
	cursor: default;
}
.stylish-select .newListDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
.stylish-select .newListItemDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
.stylish-select .newListOptionDisabled {
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
.stylish-select .newListOptionTitle {
	font-weight: bold;
}
.stylish-select .newListOptionTitle ul {
	margin: 3px 0 0;
}
.stylish-select .newListOptionTitle li {
	font-weight: normal;
}
.SI-FILES-STYLIZED label.cabinet {
	width: 149px;
	height: 149px;
	background: url(../images/uploadimg.jpg) no-repeat;
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.SI-FILES-STYLIZED label.cabinet input.file {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.btn-blue:hover, .btn-blue:focus {
	color: #FFF;
}
.btn-blue {
	background-color: #00a6f1;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	height: 48px;
	line-height: 35px;
	width: 100%;
}
.btn-blue.s_ico:hover, .btn-blue.s_ico:focus {
	background: url(../images/search_btnico.png) no-repeat 25px 17px #00a6f1;
}
.s_ico {
	background: url(../images/search_btnico.png) no-repeat 25px 17px #00a6f1;
}
.btn-blue-border:hover, .btn-blue-border:focus {
	color: #00a6f1;
}
.btn-blue-border {
	border: 1px solid #00a6f1;
	background-color: #FFF;
	height: 48px;
	color: #00a6f1;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.Airmantable {
	height: 150px;
}
.user_ico {
	background: url(../images/user_ico.png) no-repeat 0 4px;
}
.pagination {
	background-color: #FFF;
	width: auto;
	margin: 0;
	border-radius: 0;
	display: block;
}
.pagination ul {
	float: right;
}
.pagination ul li {
	display: inline-block;
	border-left: 1px solid #e8e8e8;
	padding: 20px 20px 20px 20px;
}
.pagination ul li a {
	color: #767676;
	font-size: 12px;
	font-weight: 400;
	display: block;
	text-transform: uppercase;
	border: none;
	padding: 0;
}
.pagination ul li.active a {
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background-color: transparent;
	color: #000;
}
.pagination ul li a:hover {
	color: #000;
}
.bluebg {
	background: url(../images/lightblue_headingbg.jpg) repeat-x;
}
.greenbg {
	background: url(../images/light_greenbg.jpg) repeat-x;
}
.bluebg h1, .greenbg h1 {
	color: #FFF;
}
.bluebg .main-user-ico {
	background: url(../images/name_ico.png) no-repeat 0 0;
}
.main-userflight-ico {
	background: url(../images/username_icon.png) no-repeat 0 0;
}
.dark_greenbtn a,.dark_greenbtn button{
	background: url(../images/dark_greenbg.jpg) repeat-x;
    border: none;
}
.child_ico {
	background: url(../images/child_icon.png) no-repeat 0 3px;
}
.childrens_list ul {
	overflow: hidden;
	margin: 0 0 0 19px;
}
.childrens_list ul li {
	border: 1px solid #e8e8e8;
	padding: 28px 10px 19px 10px;
	list-style: none;
	height: 374px;
	margin: 0 8px 19px 0;
	width: 24%;
	float: left;
	position:relative;
}
.children_image {
	text-align: center;
	margin-bottom: 20px;
}
.children_image img {
	-webkit-border-radius: 167px;
	-moz-border-radius: 167px;
	border-radius: 167px;
	width: 167px;
	height: 167px;
}
.child_name {
	font-size: 14px;
	color: #767676;
	text-align: center;
	margin-bottom: 20px;
}
.child_name span {
	display: block;
	color: #454545;
	font-size: 19px;
}
.child_descriptions p {
	color: #767676;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
}
.child_descriptions span {
	display: inline-block;
	padding-left: 24px;
	width: 109px;
}
.statusactive {
	color: #40d051;
	font-weight: 600;
}
.status_inactive {
	color: #ff2d2d;
	font-weight: 600;
}
.glyphicon-calendar:before {
	content: url(../images/calendar_icon.png);
}
.form_datetime .input-group-addon {
	background-color: transparent;
	border: 1px solid #e8e8e8;
	border-left: 0;
}
.form_datetime .form-control {
	border-right: 0;
}
.flight_ico {
	background: url(../images/sub_flights_icon.png) no-repeat 0 5px;
}
.width_100 {
	width: 100px;
}
.width_50 {
	width: 50px;
}
.width_80 {
	width: 80px;
}
.width_150 {
	width: 150px;
}
.width_120 {
	width: 150px;
}
.width_110 {
	width: 150px;
}
.back_btn {
	float: right;
	width: 138px;
}
.back_btn a, .back_btn button {
	padding: 0 0 0 0;
	color: #FFF;
	text-transform: uppercase;
	height: 74px;
	line-height: 74px;
	font-size: 17.5px;
	font-weight: 600;
	display: block;
	width: 138px;
	text-align: center;
}
.darkblue_btn a, .darkblue_btn button {
	background: url(../images/darkblue_headingbg.jpg) repeat-x;
	border: none;
}
.darkblue_btn a:hover, .darkblue_btn button:hover{
	background:url(../images/lightblue_headingbg.jpg) repeat-x;
}
	.darkblue_btn.border_left a,.darkblue_btn.border_left button{border-left:2px solid #1588e0;}
	.dark_greenbtn.border_left a,.dark_greenbtn.border_left button{border-left:2px solid #4DB028;}
	.dark_greenbtn a:hover{background:url(../images/light_greenbg.jpg) repeat;}
    .dark_greenbtn button:hover{background:url(../images/light_greenbg.jpg) repeat;}

.Buser-ico {
	background: url(../images/Buser_icon.png) no-repeat 0 0;
}
.main_sub_heading {
	color: #5b677a;
	font-size: 20.5px;
	font-weight: 600;
	border-bottom: 1px solid #f0f0f0;
	padding: 0 0 18px 18px;
	margin: 0 0 20px 0;
}
.btn-green:hover, .btn-green:focus {
	color: #FFF;
}
.btn-green {
	background-color: #6cbd45;
	float: right;
	font-weight: 600;
	height: 41px;
	margin-left: 5px;
	width: auto;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 27px;
}
.main-settings-ico {
	background: url(../images/settings_icon.png) no-repeat 0 0;
}
.settings_form .form-group {
	margin-bottom: 15px;
}
label {
	font-size: 13.5px;
	font-weight: 400;
	color: #7d7d7d;
}
.semibold {
	font-weight: 600;
	display: inline-block;
}

.upload {
	width: 149px;
	height: 149px;
	position: relative;
	float: left;
	right: 0;
	top: 0
}
.upload p {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	line-height: 16px;
	font-size: 13.5px;
	color: #7a7e8b
}
.sort_ico {
	background: url(../images/sort_icon.png) no-repeat 0 0;
}
.refresh_icon {
	border: none;
	background: url(../images/refresh_icon.jpg) no-repeat 0 0;
	width: 55px;
	height: 48px;
}
.tablethsub {
	display: block;
	font-size: 12.5px;
	font-weight: 400;
}
.status_ico {
	background: url(../images/range_icon.png) no-repeat 2px 4px;
}
.rates_icon {
	background: url("../images/rates_icon.png") no-repeat 2px 4px;
}
.white_box_lrg {
	border-top: 1px solid #e4e7ec;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #e4e7ec;
}
.small_whitebox {
	background-color: #fff;
	border-right: 1px solid #efefef;
	padding: 0px 0px;
}
.ratings {
	border-right: 1px solid #efefef;
	color: #767676;
	float: left;
	min-width: 40%;
	margin: 30px 0px;
}
.rating_no {
	display: block;
	font-size: 54.5px;
	text-align: center;
	padding-bottom: 27px;
	line-height: 42px;
}
.rating_text {
	display: block;
	font-size: 15.5px;
	font-weight: 600;
	padding: 0px 15px;
	text-align: center;
}
.seatdetails_small {
	float: left;
	padding: 20px 20px;
	font-size: 14.5px;
	color: #767676;
	width: 60%;
	line-height: 19px;
}
.seatdetails {
	float: left;
	padding: 38px 40px 20px 40px;
	font-size: 14.5px;
	color: #767676;
	width: 60%;
	line-height: 19px;
}
.seats_booked {
	float: left;
	padding: 16px 0px;
}
.seats_cancelled {
	float: left;
	padding: 16px 0px;
}
.seats_cancelled_small {
	float: left;
	padding: 5px 5px 15px 0;
}
.seats_booked_small {
	float: left;
	padding: 5px 5px 15px 0;
}
.numbers {
	float: left;
}
.decription {
	float: left;
	min-width: 195px;
}
.decription1 {
	float: left;
	min-width: 95px;
}
.no_border {
	border: none !important;
}
.ratings_grey {
	width: 50%;
	float: left;
	border-right: 1px solid #e4e7ec;
	margin: 25px 0px;
	color: #767676;
}
.ratings_grey_small {
	width: 33%;
	float: left;
	margin: 19px 0px;
	color: #767676;
	border-right: 1px solid #e4e7ec;
}
.ratings_grey_lrg {
	width: 100%;
	float: left;
	margin: 25px 0px;
	color: #767676;
}
.grey {
	color: #acacac !important;
}
.rating_no.grey {
	font-size: 40.5px;
}
.switch_area {
	margin: 0 0 10px 0;
}
.btn-toggle {
	float: right;
}
.btn-toggle .btn {
	font-size: 18.5px;
	font-weight: 600;
	color: #888787;
}
.btn-no.btn-primary {
	background-color: #ff5959;
	border-color: transparent;
	color: #FFF;
}
.btn-yes.btn-primary {
	background-color: #6ac448;
	border-color: transparent;
	color: #FFF;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
	background-color: transparent;
}
.main-aircraft-ico {
	
}
.aircraft_ico {
	background: url(../images/sub_aircraft_icon.png) no-repeat left top;
}
.main-airport-ico {
	background: url(../images/main_airport_icon.png) no-repeat left top;
}
.airport_ico {
	background: url(../images/sub_airport_icon.png) no-repeat left top;
}
.create_ico {
	background: url(../images/create_icon.png) no-repeat 13px 10px #00a6f1;
	float: right;
	height: 41px;
	line-height: 28px;
	width: 218px;
	font-weight: 600;
	font-size: 14.5px;
	padding-right: 19px;
	text-align: right;
}
.marg_r_5 {
	margin-right: 5px;
}
.main_displaypic_block .whitbox_block {
	width: 49.7%;
    height:276px;
}
.air_img_ico {
	background: url(../images/aircraft_img_ico.png) no-repeat left 5px;
}
.pictures_block ul {
	margin: 0 0 10px 14px;
	height: 198px;
}
.pictures_block ul li {
	float: left;
	margin: 0 13px 0 0;
	list-style: none;
	width: 30.5%;
	text-align: center;
	position: relative;
}
.pictures_block ul li img {
	width: 100%;
}
.pictures_block ul li span {
	display: block;
	color: #7e828e;
	font-size: 16.5px;
	font-weight: 400;
	padding: 14px 0 9px 0;
}
.status_dropdown {
	padding: 0 0 18px 0;
}
.status_message_box {
	height: 183px;
}
.status_msg p {
	color: #5b677a;
	font-size: 20.5px;
	line-height: 35px;
	padding: 35px 0 0 0;
	font-weight: 400;
}
.status_msg p span.red {
	color: #ff1010;
	font-size: 32.5px;
	display: block;
}
.status_msg p span.green {
	color: #6fd249;
	font-size: 32.5px;
	display: block;
}
h4.panel-title a {
	background: url(../images/content_icon.png) no-repeat left 3px;
	display: block;
	padding: 0 0 0 25px;
	font-size: 20.5px;
	font-weight: 400;
	color: #5b677a;
}
h4.panel-title a .glyphicon {
	float: right;
}
.panel-default > .panel-heading {
	background-color: transparent;
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
}
.panel {
	border: none;
	border-bottom: 1px solid #ddd;
}
.glyphicon-plus:before {
	content: url(../images/plus_icon-02.png);
}
.glyphicon-minus:before {
	content: url(../images/plus_icon.png);
}
.panel-body {
	padding: 28px 0 0 0;
	border: none !important;
}
.accordion_table .inner_table .table > tbody > tr > td {
	padding: 10px 8px 10px 18px;
	border: none;
	border-bottom: 1px solid #e8e8e8;
}
.accordion_table .inner_table .table {
	border: none;
	border-right: 1px solid #e8e8e8;
}
.main-flighthWhite-ico {
	background: url(../images/main_flights_icon_white.png) no-repeat left top;
}
.lightblue_btn, .lightblue_btn button {
	background-color: #00a2ff;
	border: none;
}
.panel-heading {
	padding: 20px 22px 17px 22px;
}
.sub_edit_icon {
	background: url(../images/edit_icon.png) no-repeat 4px 1px;
}
.edit_statuschange_block {
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 18px 10px 18px 10px;
	margin: 0 0 50px 0;
}
.edit_block {
	padding: 0 165px 0 20px;
}
.status_active_edit li {
	float: left;
	color: #5b677a;
	font-size: 20.5px;
	font-weight: 400;
	list-style: none;
	margin-right: 25px;
	line-height: 25px;
}
.status_active_edit li span {
	color: #78d554;
	display: block;
	font-size: 27.5px;
}
.status_active_edit label {
	margin: 10px 0 0 0;
	font-size: 14.5px;
}
.stylish-select ul.newList li {
	float: none;
	font-size: 13.5px;
}
.edit_block .form_section {
	padding: 0;
}
.edit_block .form_section .form-group {
	margin-bottom: 10px;
}
.location_search_block {
	background-color: #f4f4f4;
	padding: 10px 0 10px 0 !important;
	margin-bottom: 20px;
}
.location_search_block label {
	display: block;
	font-size: 16.5px;
	font-weight: 600;
	color: #565656;
}
.search_location_box {
	padding: 0 0 20px 20px;
}
.location_search_block .btn-grey {
	border: 1px solid #9e9e9e;
	background-color: #f4f4f4;
	color: #828384;
	font-size: 16px;
	font-weight: 700;
	height: 48px;
	line-height: 35px;
	text-transform: uppercase;
	width: 100%;
}
.location_search_block .btn-grey.s_ico {
	background: url(../images/search_greyicon.png) no-repeat 23px 17px;
}
#mapdiv {
	height: 295px;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
	margin-bottom: 20px;
}
.map_directions label {
	color: #828384;
	font-size: 13.5px;
	font-weight: 400;
}
.map_directions {
	padding: 0 20px 0 20px !important;
}
.lightgreen_btn a {
	background-color: #4db028;
}
.top_linked_area {
	background-color: #FFF;
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
}
.top_linked_area li {
	border-right: 1px solid #ececec;
	width: 20%;
	float: left;
	height: 128px;
	list-style: none;
	text-align: center;
	padding: 33px 0 0 0;
}
.top_linked_area li a {
	font-weight: 600;
	color: #767676;
	text-transform: uppercase;
	display:block;
}
.top_linked_area li span {
	display: block;
	margin: 0 auto 15px;
	height: 27px;
}
.star_ico {
	background: url(../images/top_icons.png) no-repeat -291px 0;
	width: 27px;
}
.linked_ico {
	background: url(../images/top_icons.png) no-repeat 0 0;
	width: 25px;
}
.children_ico {
	background: url(../images/top_icons.png) no-repeat -67px 0;
	width: 32px;
}
.referral_ico {
	background: url(../images/top_icons.png) no-repeat -149px 0;
	width: 28px;
}
.f_history_ico {
	background: url(../images/top_icons.png) no-repeat -221px 0;
	width: 28px;
}
.profile_status {
	color: #90d04b;
	text-transform: uppercase;
	font-size: 13.5px;
	font-weight: 600;
	margin-right: 20px;
	float: right;
	margin-top: 5px;
}
.status_msg_paxouter {
	height: 276px;
	padding-top: 60px;
}
.status_msg_paxouter .status_msg p {
	text-align: left;
}
.pax_accordion h4.panel-title a {
	background: url("../images/user_ico.png") no-repeat 0 4px;
}
.accordion_heading h3 {
	color: #5b677a;
	display: inline-block;
	border-bottom: 3px solid #5b677a;
	font-size: 17.5px;
	font-weight: 400;
	padding: 0 0 12px 0;
}
.accordion_heading {
	margin: 0 20px 23px 20px;
	border-bottom: 1px solid #ececec;
}
.personal_details_block .newListSelected {
	background: url(../images/small_arrowdown.jpg) no-repeat right 13px;
	width: 97px;
	border: none;
	height: 27px;
}
.personal_details_block .selectedTxt {
	padding: 0 10px 0 0;
	height: 27px;
}
.personal_table {/*overflow-y:hidden; height:192px;*/
}
.personal_table table {
	margin: 0;
}
.green {
	color: #4cc028;
}
.red {
	color: #ff1010;
}
.personal_details_block {
	padding-bottom: 18px;
}
.personal_table table tr td {
	padding: 2px;
	border-top: none;
	font-size: 14.5px;
	font-weight: 400;
	color: #686e78;
}
.pax_accordion .panel-group {
	margin-bottom: 15px;
}
.craft_ico {
	background: url(../images/top_icons.png) no-repeat 0 -50px;
	width: 30px;
}
.top_linked_area.piolet li {
	width: 16.66%;
}
.pendingstatus {
	color: #ff6d3d;
	font-size: 32.5px;
	font-weight: 400;
}
.piolet_ico {
	background: url(../images/piolet_icon.png) no-repeat left 2px !important;
}
.pax_accordion .nav-tabs {
	margin: 0 15px 0 15px;
	padding-bottom: 1px;
}
.pax_accordion .nav-tabs a {
	border-radius: 0;
	color: #5b677a;
	display: inline-block;
	font-size: 17.5px;
	font-weight: 400;
	padding: 0 0 8px;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #FFF;
}
.pax_accordion .nav-tabs li {
	margin-right: 35px;
}
.pax_accordion .nav-tabs li.active a, .pax_accordion .nav-tabs li.active a:hover {
	border-bottom: 3px solid #5b677a;
	color: #5b677a;
	display: inline-block;
	font-size: 17.5px;
	font-weight: 400;
	padding: 0 0 8px;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}
.pax_accordion .nav>li>a:focus, .pax_accordion .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}
.pax_accordion .nav-tabs>li>a:hover {
	border-color: transparent
}
.pax_accordion .tab-content {
	padding-top: 28px;
}
.table_sub {
	display: block;
	font-size: 11.5px;
}
.upload_userpiolet label.cabinet {
	background: url(../images/upload_btn.jpg) no-repeat center bottom;
	width: 136px;
	height: 28px;
	cursor: pointer;
	border-radius: 0 !important;
}
.flight_block {
	margin-right: 5px;
	width: 49.7%;
}
.content_ico {
	background: url("../images/content_icon.png") no-repeat left 3px;
}
.flight_block .table > tbody > tr > td {
	border: none;
	padding: 10px 8px 10px 12px;
}
.flight_block .table > tbody > tr {
	border-top: 1px solid #e8e8e8;
}
.flight_block .status_msg p {
	padding: 10px 0 0 0;
}
.flight_block .status_message_box {
	height: auto;
}
.flight_details_right {
	background-color: transparent;
	padding: 0;
}
.flight_details_right .status_message_box {
	background-color: #FFF;
	padding: 25px 0 25px 0;
	margin: 0 0 7px 0;
}
.marg_b_7 {
	margin-bottom: 7px;
}
.flight_block .table > thead > tr > th {
	border: none;
	padding: 10px 8px 10px 12px;
	font-size: 14px;
}
.flight_block .table thead {
	border: none;
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	border: none;
}
.modal-body {
	padding: 20px 0 0 0;
}
.modal-body .personal_details_block .col-md-4 img {
	width: 100%;
}
.modal-lg {
	width: 1120px;
}
.inner_table .table > thead > tr > th:last-child {
	border-right: none;
}
.inner_table .table > thead > tr > th:first-child {
	border-left: none;
}
.inner_table .table > tbody > tr > td:last-child {
	border-right: none;
}
.inner_table .table > tbody > tr > td:first-child {
	border-left: none;
}
.inner_table .table thead {
	border-right: none;
	border-left: none;
}
.border_btm_grey {
	border-bottom: 1px solid #e3e6eb;
}
.panel-group .panel + .panel {
	margin-top: 0;
}
.panel.panel-default {
	margin-bottom: 13px;
}
.panel-group {
	margin-bottom: 15px;
}
.pad_b_12 {
	padding-bottom: 12px;
}
.pad_b_20 {
	padding-bottom: 20px;
}
.pad_b_10 {
	padding-bottom: 10px;
}
.settings_form .form-control {
	font-weight: 600;
	font-size: 15.5px;
}
.personal_details_block .col-md-3.col-sm-3 img {
	width: 100%;
}
.dropdownmenu:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #ffffff;
	border-image: none;
	border-style: solid;
	border-width: 8px 11px;
	bottom: 100%;
	content: " ";
	height: 0;
	left: 90%;
	margin-left: -20px;
	pointer-events: none;
	position: absolute;
	width: 0;
}
.dropdownmenu {
	background-color: #fff;
	min-width: 220px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 82px;
	z-index: 9999;
}
.dropdownmenu ul {
	padding: 10px 10px 5px 10px;
}
.dropdownmenu ul li {
	list-style: none;
	float: none;
	margin-bottom: 5px;
}
.dropdownmenu ul li a {
	margin: 0;
	float: none;
}
.dropdownmenu ul li a:after {
	border-width: 0;
}
.date_addon {
	position: absolute;
	right: 15px;
	top: 15px;
}
.SI-FILES-STYLIZED label.cabinet {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dark_greybtn {
	background: #97a9c1;
}
.content {
	height: 440px;
}
.mCSB_inside > .mCSB_container {
	margin-right: 0 !important;
}
.pagination-container {
	background-color: #FFF;
}
.cabinet > img {
	height: 149px;
	position: absolute;
	width: 100%;
}
.col-md-3.upload_userpiolet > img {
	width: 100%;
}
.table_txt {
	width: 100%;
	border: none;
	border: 1px solid #686e78;
}
.penbtn {
	margin: 30px 30px 0 0;
}
.personal_table .date_addon {
	top: 7px;
}
.datepicker {
	z-index: 1151 !important;
}
.pictures_block label.cabinet {
	border-radius: 0;
	position: absolute;
    left:0;
}
.pictures_block .upload {
	float: none;
	width: 155px;
	height: 155px;
}
.pictures_block .cabinet > img {
	left: 0;
	height: 155px;
}
.pictures_block .upload p {
	background: url(../images/bluetransbg.png) repeat-x 0 0;
	color: #FFF;
	font-size: 14.5px;
	height: 33px;
	padding: 8px;
	bottom: 0;
}
.pictures_block label.cabinet {
	width: 155px;
	height: 155px;
}
.edit_piolet_img label.cabinet {
	border-radius: 0;
	position: absolute;
}
.edit_piolet_img .upload {
	width: 100%;
	height: 142px;
	float: none;
}
.edit_piolet_img label.cabinet {
	width: 100%;
	height: 142px;
}
.edit_piolet_img .upload p {
	background: url(../images/bluetransbg.png) repeat-x 0 0;
	color: #FFF;
	font-size: 14.5px;
	height: 33px;
	padding: 8px;
	bottom: 0;
}




/**********************/
.gallery{background-color: #fff !important;}
.formsandcontents li{list-style: none;float: left;background-color: #fff !important;min-height: 200px;padding: 52px 20px 20px 20px;width:15%;text-align: center;margin-right: 10px;border: 1px solid #ced7e6;margin-bottom: 17px;}
.formsandcontents p{font-size: 12px;color: #000;font-family: 'Open Sans', sans-serif;font-weight: 600;text-transform: uppercase;}
.formsandcontents  ul{display: block;}
.diagram{text-align: center;border: 1px solid #ced7e6;}
.mrg{margin-right: 15px;}
.gallery_img{padding-bottom: 34px;}
.drop{background-image: url(../images/arrow.png);background-repeat: no-repeat;background-position: right}
.btn_outer{float: right;margin-right: 22px;margin-top: 10px;}
.serach{background-image: url(../images/searchbg.png);background-repeat: no-repeat;background-position: center;width: 35px;height: 35px;border-radius: 7px;border: 1px solid #e8e8e8;background-color: #fff;}
.home_block{margin: 20px 20px;background-color: #fff;border: 1px solid #ced7e6;}
.search_user{margin: 0px auto;width: 600px;padding-top: 110px;text-align: center;min-height: 479px;}

.admin_userbg{text-align: center;}
.admin_userbg{margin-bottom: 18px;}
.search_name{margin-bottom: 33px;}
.search_name p{color: #757e8e;font-size: 28px;text-align: center;padding: 0px 0px;}
.searchtxt{border: 1px solid #d9d9d9;border-radius: 7px;width: 488px;height: 50px;padding: 15px 15px;
          margin-bottom: 17px;background-image: url(../images/searchtxtbg.png);background-repeat: no-repeat;background-position: right 15px center;}
.useredit{background-color:#5187d8;background-image: url(../images/usereditbg.png);background-repeat: no-repeat;background-position: center;height: 30px;width: 32px;border: none;}
.useredit_outer{float: right;margin-right: 22px;margin-top: 11px;}









.upload_userpiolet .cabinet > img {
	width: 100%;
	height: 310px;
}
.upload_userpiolet label.cabinet {
	width: 100%;
}
.upload_userpiolet .upload {
	float: none;
	width: 100%;
	height: 390px;
}
.top_linked_area .user_ico {
	margin: 0 auto;
	width: 21px;
	background: url(../images/usericon.png) no-repeat;
	height: 40px;
}
.piolet_edit li {
	width: 33.32%;
}
.children_image label.cabinet {
	background:none;
	-webkit-border-radius: 167px;
-moz-border-radius: 167px;
border-radius: 167px;
width:174px;
	}
.children_image .upload	{-webkit-border-radius: 167px;
-moz-border-radius: 167px;
border-radius: 167px;float:none;margin:0 auto;width:167px;height:167px;}
.children_image .cabinet > img{left:0;}
.children_image .upload p {
	background:url(../images/curve_img.png) no-repeat 0 0;
	color: #FFF;
	font-size: 14.5px;
	height: 33px;
	padding: 8px;
	bottom: 0;
	height:52px;
	width:155px;
	left:6px;
}
.children_image .cabinet > img{width:167px;height:167px;}
.children_image label.cabinet{height:167px;}
.text_edit{border-bottom:1px solid #dddddd;border-left:none;border-right:none;border-top:none;width:100%;text-align:center;}
.pax{color:#767676;font-size:14.5px;text-align:center;}
.delete_btn{background:#e8e8e8;width:50%;height:42px;border:none;color:#767676;line-height:42px;text-transform:uppercase;
font-weight:600;display:block;text-align:center;float:left;}
.delete_btn_outer{position:absolute;left:0;width:100%;bottom:0;}
.delete_btn_outer a:hover,.inner_delete a:hover{color:#767676;}
.addchildren_block{padding:0 20px 0 20px;}
.select_options{width:140px;}
.inner_delete
{width:100%;position:absolute;left:0;bottom:0;
}
    .inner_delete a
    {
        text-align:center;width:100%;
    }
.addchildren_block .upload p{background:url(../images/bluetransbg.png) repeat-x;color:#FFF;
font-size:14px;height: 39px;
    padding: 4px 0;bottom:-1px;border-radius:0 0 5px 5px;}
.ui-datepicker-trigger {
    position: absolute;
    right: 12px;
    top: 16px;
}
.dark_greybtn a:hover{background:#a6b3c5;}
.delete_btn_outer .delete_btn:hover{background:#d2cfcf;}
.welcome{color: #fff;font-size: 12px;display: block;}
.admin_img{width: 50px;height: 50px;}
.admin_img img{border-radius: 23px;}
#cssmenu > ul > li > a:hover{background-color: #5187d8 !important;color: #fff !important;}
.logo_inner img{max-width: 100%;}
.option_select{float: left;margin-right: 7px;font-size: 15px;color: #4d5461;}
.option_select label{margin-left: 15px;font-size: 15px;color: #4d5461;}
.outer_login{background-color: #fff;width:435px;padding: 150px 0px 30px 0px;margin: 0px auto;text-align: center;}
.ops_logo{margin-bottom: 56px;}
.outercontainer{width: 100%;background-color: #fff;}
.ops_txbx{border: none;border-bottom: 1px solid #d9d9d9;font-size: 20px;;color: #878787;padding-bottom: 18px;margin-bottom: 44px;width: 100%;}
.login_btn{width: 100%;border: 1px solid #49acff;border-radius: 7px;padding:15px 15px;text-align: center;width: 100%;font-size: 25px;color: #49acff;background-color: #fff;margin-bottom: 30px;}
.login_btn:hover{background-color: #49acff;color: #fff;}
.go_btn{min-width: 100px;margin: 0px auto;border: 1px solid #49acff;border-radius: 7px;padding:7px 7px;text-align: center;font-size: 25px;color: #d9d9d9;background-color: #fff;margin-bottom: 30px;}
.go_btn:hover{background-color: #49acff;}
.fgt_pwd{color: #49acff;font-size: 17px;text-align: left;display: block;width: 100%;cursor: pointer;}
.fgt_pwd a{color: #49acff;font-size: 17px;text-align: left;display: block;width: 100%;cursor: pointer;}
.admin_img img{max-width: 100%;}
.diagram_outer{padding-left: 0px;padding-right: 0px;}
.user_list{height: 250px;overflow-y: scroll;border: 1px solid #ced7e6;margin-bottom: 20px;}
.user_list ul{padding: 10px 10px;}
.user_list li{list-style: none;float: left;width: 100%;padding-bottom: 10px;text-align: left;}
.panel a {
    background-image: url("../images/minus.png");
    background-position: right 1px center;
    background-repeat: no-repeat;
   color: #5a6472;
    display: block;min-height: 45px;
  
}
.panel .collapsed {
    background-image: url("../images/plus.png");
    background-position: right 1px center;
    background-repeat: no-repeat;
    display: block;min-height: 45px;
  
}
.ac_head{display: block;width: 100%;}
.ac_head h3{color: #717883;font-size: 15px;font-weight: 600;}
.ac_head p{color: #717883;font-size: 15px;width: 80%;float: left;}
.panel {margin-bottom: 20px;}
.roun_img{background-image: url("../images/add.png");width: 50px;height: 50px;background-repeat: no-repeat;padding: 13px 17px;float: left;}
.marker{background-image: url("../images/add.png");width: 44px;height: 50px;background-repeat: no-repeat;padding: 13px 18px;float: left;z-index:1000}
.marker1 {
    border-radius: 25px;
    border: 5px solid #8DB0E5;
       padding: 20px; 
    width: 40px;
    height: 40px;   
    padding: 7px;
    z-index:1000;  
     background:rgba(255,255,255,0.1); 
}
.controldetails{margin:15px 15px;background-color: #fff;padding: 23px 15px;position: relative;}
.controldetails p{font-size: 14px;color:#717883;}
.controldetails h3{font-size: 15px;color:#717883;font-weight: 600;}
.panel-body{background-color: #f2f7ff;padding-top:0px !important;}
.close_btn{position: absolute;top: 10px;right: 10px;cursor: pointer;}
.tb_heading{margin: 15px 0px 15px 0px;}
.editbtn_outer{padding: 25px 15px;}
.sm_btnsouter{margin: 20px 0px;;float: right;text-align: right;}
.sm_btns{border: 1px solid #49acff;border-radius: 7px;padding: 5px 5px;text-align: center;min-width: 100px;font-size: 17px;color: #5187D8;background-color: #fff;margin-right: 20px;}
.sm_btns:hover{background-color: #49acff;}
.sm_table{margin-bottom: 25px;background-color: #ffffff;}
.header_contents{background-color: #fff;padding-top: 20px;padding-bottom: 20px;margin-bottom: 25px;}
.header_contents h2{margin: 0px 0px;padding-bottom: 15px;}
.header_contents h3{margin: 0px 0px;padding-bottom: 5px;}
.header_contents p{padding-bottom: 10px;}
.user_image{width:100%;border: 1px solid grey;}
.user_image img{width: 100%;}
.l_names{width:200px;float: left;}
.l_names p{font-size: 17px}
.userdetail_table{padding-top: 20px;padding-bottom: 20px;}
.l_details p{font-size: 17px}
.l_details{float: left;}
.l_user_details{margin-bottom: 15px;width: 100%;}
.ac_btnsouter{margin-bottom: 15px;float: left;margin-top: 15px;}
.profile {padding-top: 20px;padding-bottom: 20px;background-color: #fff;margin-bottom: 20px;}
.active_acdetails h3{padding-bottom: 15px;}
.active_acdetails p{padding-bottom: 15px;}
.profile .inner_table{border: 1px solid #E8E8E8;}
.control_btns{margin-bottom: 15px;padding: 0px 15px;}
.actgreeenbtn{background-color: #85c545;padding: 10px 10px 10px 40px;font-size: 15px;font-weight: bold;color: #fff;background-image: url(../images/activegreen.png);background-repeat: no-repeat;background-position: left 10px center;border: none;}
.deletered{background-color: #f05454;padding: 10px 10px 10px 40px;font-size: 15px;font-weight: bold;color: #fff;background-image: url(../images/deletered.png);background-repeat: no-repeat;background-position: left 10px center;border: none;}
.validation-summary-errors li{list-style:none !important; float:left;color:red;}
/**********************/
.risk_desc{background-color: #fff;padding: 30px 30px 30px 15px;margin-top: 25px;}
.risk_dec_inner{padding: 15px 15px;border: 1px solid #5187D8;border-radius: 7px;position: relative;margin-bottom: 30px;}
.risk_dec_head{position: absolute;top: -23px;padding: 10px 10px;background-color: #fff;}
.risk_dec_contents{padding: 15px 10px;}
.risk_btn{border: 1px solid #5187D8;padding: 5px 7px;border-radius: 7px;color: #5187D8;margin-right: 15px;background-color: #fff;font-size: 14px;}
.risk_btn:hover{background-color:#5187D8;color: #fff; }
.deactivate{ padding-left:30px;}
.u_names{float: left;width: 100%;margin-bottom: 15px;}
.u_deatils{float: left;width: 100%;}
.u_deatailtxt{min-width: 300px;border: 1px solid #5187D8;padding: 7px 7px;}
.new_user_details{margin-bottom: 15px;}
.risk_btn_outer{margin: 10px 0px;}
.photo_up{float: left;}
.rules{background-color: #fff;margin-right: 15px;margin-top: 25px;padding: 15px 15px;}
.rules h2{margin: 0px 0px;padding-bottom: 15px;}
.rules p{padding-bottom: 15px;}
.construction img{max-width: 100%;}
.ops_logo_lrg{padding: 15px 15px;text-align: center;position: absolute;bottom: 20px;}
.ops_logo_lrg img{max-width: 100%;}
.search_outer{padding: 15px 20px;}
.ops_logo_small{padding: 15px 15px;text-align: center;display: none;}
.sidebar-collapsed-back .ops_logo_small{display: none;}
.ops_logo_small img{max-width: 100%;}
.sidebar-collapsed .ops_logo_lrg{display: none;}
.sidebar-collapsed .ops_logo_small{display: block !important;position: absolute;bottom: 20px;}
.sidebar-collapsed .copyright{display: none;}
/*****08/05/2014**/
.lg_btn{padding: 7px 10px;border: none;border-radius: 5px;text-align: center;font-size: 11.5px;color: #fff;font-family: 'Open Sans', sans-serif;font-weight: 600;}
.risk_rate{float: right;margin-right: 45px;height: 30px ;min-width: 30px;padding: 2px 5px ;text-align: center;border-radius: 7px;background-color: #406fb4;margin-top: 8px;font-size: 17.5px;color: #fff;}
.users_section{background-color: #fff;padding: 28px 22px 22px 14px;}
.suser_outer{margin: 0px auto;}
.suser_outer li{list-style: none;float: left;width: 32.8%;background-color: #fafbfb;padding: 1px 1px;margin-left: 6px;}
.user_box{border: 1px solid #dfe5ef;}
.suser_image{border-right: 1px solid#dfe5ef;background-color: #f7faff;width: 104px;float: left;padding: 15px 8px;}
.suser_image p{color: #798392;font-size: 14.5px;padding: 0px 0px;text-align: center;font-family: 'Open Sans', sans-serif;font-weight: 400;}
.suser_img{margin-bottom: 15px;height: 85px;width: 85px;border: 5px solid #6fd46d;border-radius: 45px;}
.suser_img img{width: 100%;border-radius: 45px;}
.suser_desc{float: left;width:190px;padding: 12px 15px 0px 15px;}
.s_name{display: block;font-size: 16.5px;color: #798392;padding-bottom: 12px;font-weight: 600;}











.risk_rate{float: right;margin-right: 45px;height: 30px ;min-width: 30px;padding: 2px 5px ;text-align: center;border-radius: 7px;background-color: #406fb4;margin-top: 8px;font-size: 17.5px;color: #fff;}
.users_section{background-color: #fff;padding: 28px 22px 22px 14px;}
.suser_outer{margin: 0px auto;}
.suser_outer li{list-style: none;float: left;width: 32.8%;background-color: #fafbfb;padding: 1px 1px;margin-left: 6px;}
.user_box{border: 1px solid #dfe5ef;}
.suser_image{border-right: 1px solid#dfe5ef;background-color: #f7faff;width: 104px;float: left;padding: 15px 8px;}
.suser_image p{color: #798392;font-size: 14.5px;padding: 0px 0px;text-align: center;font-family: 'Open Sans', sans-serif;font-weight: 400;}
.suser_img{margin-bottom: 15px;height: 85px;width: 85px;border: 5px solid #6fd46d;border-radius: 45px;}
.suser_img img{width: 100%;border-radius: 45px;}
.suser_desc{float: left;width:236px;padding: 12px 15px 0px 15px;}
.s_name{display: block;font-size: 16.5px;color: #798392;padding-bottom: 12px;font-weight: 600;}

.s_place{display: block;background-image: url(../images/place_bg.png);background-repeat: no-repeat;padding-left: 29px;background-position: left 0px top 5px;padding-bottom: 5px;font-size: 14.5px;color: #798392;
overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.s_contact{display: block;background-image: url(../images/phone_bg.png);background-repeat: no-repeat;padding-left: 25px;background-position: left 0px top 5px;padding-bottom: 5px;font-size: 14.5px;color: #798392;
overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.s_msg{display: block;background-image: url(../images/msg_bg.png);background-repeat: no-repeat;padding-left: 25px;background-position: left 0px top 5px;padding-bottom: 5px;font-size: 14.5px;color: #798392;
overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.user_btn_outer{padding: 12px 19px 8px 15px;}
.adduser_btn{background-color: #759ce1;display: inline-block;border: 1px solid #5c82c1;border-radius: 7px;}
.add_uertxt {color: #fff;display: inline-block;font-size: 12.5px;height: 34px;padding: 9px 7px;border-left: 1px solid #5c82c1;}
.ad_userimg{display: inline-block;height: 33px;width: 40px;padding: 5px 5px;}
.createuser_btn{background-color: #6fd46d;display: inline-block;border: 1px solid #56a955;border-radius: 7px;}
.create_usertxt{color: #fff;display: inline-block;font-size: 12.5px;height: 34px;padding: 9px 7px;border-left: 1px solid #56a955;}
.create_userimg{display: inline-block;height: 33px;width: 40px;padding: 5px 5px;}
.susers_section{background-color: #f8fbff;border-bottom: 1px solid #e2e8f1;padding: 10px 10px;}
.susersearch{background-color: #fff;border:  1px solid #dfe4ea;border-radius: 7px;width: 484px;float: left;}
.search_icon{display: inline-block;height: 50px;width: 50px;border-right: 1px solid #dfe4ea;padding:14px 14px;float: left;}
.s_usersearch{height: 50px;border: none;float: left;display: inline;width: 85%;padding: 15px 15px;}
.s_bluebtn{display: inline;height: 50px;width: 160px;background-color: #5187d8;color: #fff;border: none;text-align: center;font-size: 16.5px;font-weight: 600;border-radius: 7px;margin-left: 10px;cursor: pointer;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border-top:none;}
.risklist_table{background-color: #fff;border: 1px solid #ced7e6;margin-bottom: 0px !important;}
.risklist_table th{border-bottom:1px solid #ced7e6 !important;color: #526b90;font-size: 14.5px;font-weight: 600;padding: 27px 20px 20px 22px !important;}
.risk_table{margin-bottom: 0px;}
.risklist_table tr{border-bottom: 1px solid #ededed;}
.risklist_table td{padding: 22px 22px !important;color: #526b90;font-size: 14.5px;}
.risklist_table tr:hover{background-color: #edf6ff;}
.pad_0{padding: 0px 0px;}
.risk_create{background-color: #edf6ff;border: 1px solid #d4dae3;border-left: 0px !important;padding: 16px 16px 30px 16px;}
.risk_create_header h2{font-size: 17px;color: #48515e;margin: 0px;padding-bottom: 5px;font-weight: 600;margin-bottom: 12px !important;margin: 0px 0px;padding-top: 15px;}
.risk_box{border: 1px solid #d4e9ff;padding: 17px 17px;width: 100%;border-radius: 5px;margin-bottom: 5px;}
.risk_boxlrg{border: 1px solid #d4e9ff;padding: 17px 17px;width: 100%;border-radius: 5px;margin-bottom: 5px;height: 132px;}
.risk_select{margin-bottom: 5px;}
.savebluebtn{background-color: #5187d8;border: 1px solid #4575bc;font-size: 20px;color: #fff;padding: 5px 15px;text-align: center;min-width: 104px;}
.change_history{background-color: #deeeff;padding: 16px 16px;border: 1px solid #d4dae3;border-left: 0px !important;border-top: 0px !important;}
.change_history h4{margin: 0px 0px;color: #48515e;font-size: 16px;font-weight: 600;padding-bottom: 18px;}
.info{color: #797979;font-size: 17px;margin-right: 50px;display: inline-block;min-width: 110px;}
.info_details{color: #797979;font-size: 17px;margin-right: 50px;display: inline-block;font-weight: 700;}
.history_deatils{margin-bottom: 18px;}
.borderline{height: 1px;width: 90%;margin: 0px auto;background-color: #cadaea;}
.details_outer_btm{margin-top: 25px;}
.pagination_block{background-color: #eeeeee;padding: 11px 11px;border: 1px solid #cadaea;border-top: none;}
.pagination_block li{list-style: none;float: left;display: inline-block;}
.pagination_block ul{display: block;}
.pagination_block li a{padding: 7px 11px;border: 1px solid #e5e5e5;color: #cbcbcb;background-color: #fff;font-size: 15.5px;min-width: 35px;display: block;margin-right: 2px;font-weight: 700;}
.pagination_block li a:hover{border: 1px solid #7f7f7f;color: #7f7f7f;}
.rh_head{float: left;}
.rh_btn{float: right;}
.create_risk_txt{font-size: 15px;color: #48515e;padding: 11px 11px;border-left: 1px solid #abd5ff;display:inline-block;}
.create_use_risk{display: inline-block;padding: 0px 10px;}
.rh_btn a{display: block;border: 1px solid #abd5ff;background-color: #cae4ff;border-radius: 5px;}
.user_block{float: left;}
.user_block a{float: left !important;}
.user_block span{display: block;}
.marg_top0{display: block;margin-top: 5px !important;}
.user_right{float: right;}
.riskhplink{display: block;font-size: 14.5px;color: #66748b;}
.hplink_1 a{display: inline-block;color: #99abc9;font-size: 19.5px;padding-top: 10px;font-weight: 700}
.hplink_1:hover{color: #99abc9;}
.hplink_2:hover{color: #66748b;}
.hplink_2 a{display: inline-block;color: #66748b;font-size: 14.5px;padding-top: 10px;}
.hplink_outer{padding-left: 20px;}

.selectedRow {
    background-color:   #edf6ff
}

.inne_white_block{background-color: #fff;}
.law_deatailtxt{width: 100%;border: 1px solid #5187D8;padding: 7px 7px;}
.description_block{width: 100%;border: 1px solid #5187D8;padding: 7px 7px;min-height: 300px;overflow-y: scroll;}
.risk_desc h2{margin: 0px 0px;padding-bottom: 15px;color: #333;font-size: 18px;}
.u_details_small{width: 49%;float: left;}
.marg_right{margin-right: 10px;}
.fl_txtarea{width: 100%;padding: 10px 10px;border: none;}


.processflow_header{padding: 47px 34px 23px 34px;}
.processflow_header h2{color: #66748b;font-size: 19px;margin: 0px 0px;text-align: center;font-weight: 700;padding-bottom: 48px;}
.formqstn{display: inline-block;float: left;width: 50%;}
.formans{display: inline-block;float: left;width: 50%;background-image: url(../images/dottedbg.png);background-position: bottom;background-repeat: no-repeat;border: none;}
.form_qstnblock{padding-bottom: 19px;color: #66748b;font-size: 15px;}
.form_head_small h2{margin: 0px 0px;color: #66748b;font-size: 16px;padding-bottom: 30px;text-align: center;}
.processflowtable{border: 1px solid #dfe5ef;}
.processflowtable td{background-color: #fff;border: 1px solid #dfe5ef !important;}
.processflowtable tbody tr:nth-child(2n+1) td{background-color: #fff;}
.processflowtable th{background-color: #dfe5ef;margin: 1px 1px;}
.padbottom{padding-bottom: 10px;background-color: #fff;}
.authority{border: 1px solid #dfe5ef;background-color: #f7faff;padding: 17px 17px;}
.process_btmblock{margin: 10px 0px 75px 0px}
.authority_inner{padding-bottom: 15px;}
.padl0{padding-left: 0px;}
.padr0{padding-right: 0px;}
.processbtn{background-image: url(../images/processlrgicon.png);background-repeat: no-repeat;background-position: center;height: 38px;width: 38px;background-color: #759ce1;border: 1px solid #5c82c1;border-radius: 7px;float: right;margin-right: 20px;margin-top: 10px;}
.process_outer{padding: 15px 15px;background-color:#eef5ff;}

.processctrlbtn{background-image: url(../images/processbtnbg.png);background-repeat: no-repeat;background-position: center;height: 38px;width: 38px;background-color: #759ce1;border: 1px solid #5c82c1;border-radius: 7px;float: right;margin-right: 20px;margin-top: 10px;}
.gery_head{border-right: 2px solid #fff !important;border-bottom: 2px solid #fff !important;}
.lightgrey{background-color: #f6f6f6 !important;}
.greyborder_top{border-top: 1px solid red !important;}

.processid_bg{display: inline-block;float: left;background-image: url(../images/processline.png);background-repeat: no-repeat;background-position:right;min-width: 142px;font-size: 14.5px;color: #717883;font-weight: 700;}
.processid{display: inline-block;float: left;;background-repeat: no-repeat;background-position:right;min-width: 142px;font-size: 14.5px;color: #717883;font-weight: 700;padding-left: 15px;}
.process_head{background-color: #f9f9f9 !important;padding: 9px 9px !important;border: 1px solid #e0e7ef !important;}
.processid{font-size: 14.5px;color: #717883;font-weight: 700;}
.sm_delete{background-image: url(../images/smdelete.png);background-repeat: no-repeat;background-position: center;background-color: #ebebeb;height: 25px;width: 25px;border: none;float: left;}
.processcountnum{height: 25px;width: 25px;text-align: center;float: left;background-color: #5187d8;color: #fff;display: inline-block;margin-right:7px;}

.leftsm_block{float: right;margin-right: 30px;}
.process_details{border: 1px solid #e0e7ef;background-color: #fff;}
.processid_bgsmall{display: inline-block;float: left;background-image: url(../images/processline.png);background-repeat: no-repeat;background-position:right;font-size: 14.5px;color: #717883;padding: 13px 13px;}
.processid_small{display: inline-block;float: left;font-size: 14.5px;color: #717883;padding: 13px 13px;}
.chat{float: right;background-image: url(../images/chaticon.png);background-repeat: no-repeat;background-position: center;border: none;width: 18px;height: 18px;margin-top: 15px;margin-right: 15px;background-color: #fff;}
.processusers_section{background-color: #f8fbff;border: 1px solid #e2e8f1;padding: 10px 10px;border-bottom: none;}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

select.input-validation-error {
    border: 1px solid #b94a48;
}
.web_grid tr {
    float: left;
}

.riskRank_color
{
    height:20px;
    width:100px;
}

.searchtext input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.searchtext input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

/*.search-field12 {
    border:none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 7px;
    width: inherit;
    padding: 6px;
    padding-left:20px;
    color: white;
    font-size: 17px;
    background-color : transparent;
    height: 50px;
}*/

/*.search-field {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    width: inherit;
    padding: 0px 0px 0px 30px;
    color: white;
    background-image: url(../images/searchboxbg.png);
    background-repeat: no-repeat;
    background-position: left 0px center;
    font-size: 17px;
    background-color: transparent;
    margin: 29px 10px 0px 12px;
     height: 34px;
     display: inline-block;

}*/

/*.search-field input[type="text"].focus {
  border-bottom: solid 2px #969696;
}*/

.buttonholder{
            border:none;
            cursor:pointer;
            float:left;
            height:27px;
            width:20px;
            background-image: url(../images/searchboxbg.png);
            background-repeat: no-repeat;
            margin-top:35px;
        }


.search_box_outer {
    float: right;
    padding-top: 12px;
}

.Pool_Box {
    float: left;
    color:#212121;
    align-items: center;
    display: flex;
    height: inherit;
    font-size: 20px;
    font-weight: bold;
}

.search_userbox {
    border: none;
    border-bottom: 1px solid #dfe4ea;
    border-radius: 7px;
    padding: 0px 0px 0px 41px;
    font-size: 17px;
    color: #66748b !important;
    background-image: url(../images/searchboxbg.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
    height: 50px;
}

.k-panelbar .k-header
{
       font-size:14px;
       font-weight:bold;
}

.k-panel > li.k-item {
       font-size:15px;
       font-weight:900;
}


.k-panel>.k-item>.k-link, .k-panelbar>.k-item>.k-link {
    display: block;
    position: relative;
    border-bottom:none !important;
    border-bottom-width: 1px;
    padding: 0 1em;
    line-height: 2.34em;
    text-decoration: none;
    zoom: 1;
}
.k-header {
    background-color:white !important;
}
.k-group
{
    border-bottom:none !important;
}

.k-header {
    background-color:none !important;
}

.k-item > .k-group {
  background: #ffffff;
  color: #000;
  border-bottom-left-radius: 3px;
}
.k-state-selected  {
    color: black !important;
    background-color: #E2E2E2 !important;
    border-color: #ffffff !important;
    box-shadow : none !important;
}

.k-content
{
    height:100%;
    overflow-y: hidden !important;
    background-color:white !important;
}



.sidebar-menuright {
	float: right;
	right: 0;
	bottom: 0;
	background-color: #ffffff;
	color: #aaabae;
	z-index: 999;
}

/*.k-splitbar-horizontal
{
     margin-top: 50% !important;
}*/


.icon1 {
height:20px;
width:10px;
background-image: url(../images/sprite_2x.png);
}

.splitter {
    background-position: -438px -6px;
}

.header1{
	padding: 0 10px 0 0;
	border-bottom: 1px solid #eeeeee;
	height: 73px;
	/*position: fixed;
	width: 100%;*/
	top: 0;
	background-color: #B51c1c;
	z-index: 99;
    border:none;
    float: left !important;
    position: fixed !important;
    /*overflow:hidden;*/
}


#icon2 a {

width:16px;
background: url(../images/arrow-249-16.png) 3px 1px no-repeat; 
display: block;
   
    white-space: normal;
    vertical-align:bottom;
     
}

.more {
height:14px !important;
width:10px !important;
}

.pool-left {
    width: 40px;
    float: right;
    display: flex;
  align-items: center;
  margin-top:17px;
}

.pool-left-wide {
 float: left;
 width: calc(100% - 40px);
  /* Grow to rest of container */
  font-size: 18px;
  font-weight: bold;
  white-space: pre-line;
  display: flex;
  align-items: center;
  text-align:left;
  margin-top:17px;
  font-family: Arial;
}
/*.pool-left1 {
    float: left !important;
    margin : 20px 10px 0px 0px;
    white-space:pre-wrap;
    display:inline-block;
word-break: break-word;
    width: 150px;
    vertical-align: middle;
    height: 100%;
}*/
.pool-right {
    margin : 40px 40px;
    float:right !important;
     white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */     
   word-wrap: break-word;   
   height: 100%; 
}



#actionbar {
    margin-top: 73px;
}

#scrollul {
    list-style-type: none !important;
    float:left;
    margin: 18px 0 0 10px !important;
}

#scrollul a {
    color:#BC1515;
    font-size:15px;
       font-weight:bold;
}

ul.no_bullet {
list-style-type: none !important;
padding: 10px !important;
margin: 8px 0 50px -23px !important;
}
ul.no_bullet > li {
    width:100%;
    position:relative;
    list-style-type:none;
    float:left;
    margin: 8px 0 15px 2px !important;

}


 .k-widget {
     border-style:none !important;
    -webkit-appearance: none;
} 
/*

li h3 {
  font: bold 13px/1.5 Helvetica, Verdana, sans-serif !important;
  width:100px;
  float: right
}
*/
.left1 {
    height:24px;
width:0px;
    padding-left        : 48px !important;
    background-image    : url('../images/Defaultsprite_2x.png') !important;
    background-position : -57px -421px !important;
    background-repeat   : no-repeat !important;
    float: left
}

.left2 {
    height:24px;
width:0px;
    padding-left        : 48px !important;
    background-image    : url('../images/Defaultsprite_2x.png') !important;
    background-position : -57px -452px !important;
    background-repeat   : no-repeat !important;
    float: left
}

.left3 {
    height:24px;
width:0px;
    padding-left        : 48px !important;
    background-image    : url('../images/New_User-256.png') !important;
    background-position : 12px -2px !important;
    background-repeat   : no-repeat !important;
    float: left
}

.right1 {
    /*position:absolute;*/
    float:left;
    width:60%;
    margin: 3px 0 0 23px !important;
}


.left4 {
    height:24px;
width:0px;
    padding-left        : 48px !important;
    background-image    : url('../images/delete.png') !important;
    background-position : 17px 2px !important;
    background-repeat   : no-repeat !important;
    float: left
}

.left5 {
    height:24px;
width:0px;
    padding-left        : 48px !important;
    background-image    : url('../images/usernewprofile.png') !important;
    background-position : 17px 2px !important;
    background-repeat   : no-repeat !important;
    float: left
}

.k-pool {
    overflow-y: hidden !important;
}


.search-field1 {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    width: inherit;
    padding: 0px 0px 0px 30px;
    color: white;
    background-image: url(../images/searchboxbg.png);
    background-repeat: no-repeat;
    background-position: left 0px center;
    font-size: 17px;
    background-color: transparent;
    margin: 29px 10px 0px 12px;
     height: 34px;
     display: inline-block;

}

.search-field12 {
    margin-top: 29px;
}
.input-group-addon {
    /*padding: 27px 12px;*/
    text-align: center;
    background-image: url(../images/searchboxbg.png);
    background-repeat: no-repeat;
    background-position: right 0px center;
   background-color:transparent !important;
   border:none !important;
   width:2% !important;
}/*
.input-group-lg>.input-group-addon
{
    height:10px !important;
   /* padding:unset !important;
    font-size:unset !important;
    border:none !important;
}*/
.form-control {
    background-color:transparent !important;
    border:none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius:0px !important;
    box-shadow: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow:none !important;
    font-size: 17px !important;
    color:white;
    width: 98% !important;
    margin-left: 3px;
}


.pool::-webkit-input-placeholder {
    color: #fff;
}
.pool:-moz-placeholder {
    color: #fff;

}
.pool::-moz-placeholder {
    color: #fff;

}

