﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="keywords" content="ContactManagement">
    <meta name="description" content="ContactManagement">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png">
    <title>Contact Management</title>
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/mediaquery.css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background-color: #fff;">
    <div class="outer_wrap clerfix">

        @RenderBody()
    </div>
    <!--End outerwrap-->
    @*@Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/jquery.stylish-select.min.js")
    @Scripts.Render("~/Scripts/si.files.js")
    @Scripts.Render("~/Scripts/common.js")*@
    @*<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/jquery.stylish-select.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/si.files.js"></script>
        <script src="js/common.js"></script>*@
    <script>
        if (navigator.userAgent.match(/iPhone|Android|BlackBerry|Windows Phone|webOS/i)) {
            document.write('<meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=1, user-scalable=no">');
        }
    </script>
</body>
</html>





@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/Styles/contact.css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="form_bg">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


